@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Space+Mono&family=Zen+Kaku+Gothic+Antique&display=swap');

.card:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.card {
    margin-left: auto;
    margin-right: auto;
}

.cardContent {
    height: 300px;
}

.cardContent2 {
    height: 260px;
}

.card h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: x-large;
}

#projDesc {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: medium;
    text-align: justify;
}

@media screen and (max-width: 1200px) {
    .card {
        width: 80%;
    }

    .cardContent {
        height: 250px;
    }

    .cardContent2 {
        height: 210px;
    }
}

@media screen and (max-width: 960px) {
    .card {
        width: 50%;
    }

    .cardContent {
        height: 250px;
    }
}

@media screen and (max-width: 600px) {
    .card h4 {
        font-size: large;
    }

    #projDesc {
        font-size: small;
    }
}