.aboutMe {
    margin-top: 10vh;
    background-color: #E3F6F5;
    background-image: url("./media/indonesia.png");
    background-repeat: no-repeat;
    background-size: 2100px;
    background-position: center;
}

.aboutMe h2 {
    text-align: center;
    padding-top: 1vw;
    font-family: 'Space Mono', monospace;
    font-size: xx-large;
    background-color: #E3F6F5;
}

.aboutMe hr { 
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.profpic {
    width: 10%;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    border-radius: 50%;
    border: 3px solid black;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.intro {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2vw;
    width: 40%;
    text-align: justify;
    background-color: #E3F6F5;
}

.intro p {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

@media screen and (max-width: 1200px) {
    .profpic {
        width: 15%;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    .aboutMe hr {
        width: 20%
    }

    .intro {
        width: 65%;
        padding-bottom: 4vw;
    }

    .aboutMe {
        background-size: 1300px;
    }
}

@media screen and (max-width: 750px) {
    .profpic {
        width: 25%;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

    .aboutMe hr {
        width: 40%
    }

    .intro {
        width: 75%;
        padding-bottom: 6vw;
    }

    .aboutMe {
        background-size: 1000px;
    }
}

