html {
  scroll-behavior: smooth;
}

.navBarArea {
  z-index: 99;
}

.navBarArea hr {
  border-bottom: 4px solid black;
}

.experience {
  padding-top: 2vh;
  background-color: #E3F6F5;
  text-align: center;
}

.experience h2 {
  text-align: center;
  padding-top: 1vw;
  font-family: 'Space Mono', monospace;
  font-size: xx-large;
  background-color: #E3F6F5;
}

.experience p {
  padding-bottom: 3vh;
}

.experience hr { 
  border-bottom: 4px solid black;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.experience ul {
  text-align: left;
  width: 45%;
  margin-left: 25%;
  margin-top: 1.5vw;
  padding-bottom: 2vw;
  list-style: none;
}

.expList {
  background-image: url("./media/berkeley.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 0%;
}

li {
  margin-top: 1em;
  
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1300px) {
  .expList {
    background-position: 120% 100%;
    background-size: 30%;
  }

  .experience ul {
    margin-left: 15%;
  }

  .expList ul {
    width: 60%;
  }
}

@media screen and (max-width: 1050px) {

  .expList {
    background-position: 120% 100%;
    background-size: 35%;
  }

  .experience ul {
    margin-left: 10%;
  }

  .expList ul {
    width: 65%;
  }
}

@media screen and (max-width: 900px) {
  .expList ul {
    width: 70%;
  }
  .expList {
    background-position: 135% 100%;
    background-size: 45%;
  }

  .experience ul {
    margin-left: 5%;
  }

}

@media screen and (max-width: 750px) {
  .expList {
    background-position: 170% 100%;
    background-size: 55%;
  }

  .experience ul {
    margin-left: 0%;
  }

  .expList ul {
    width: 75%;
  }
}

@media screen and (max-width: 660px) {
  .expList {
    background-position: 2000% 0%;
  }

  .experience ul {
    margin-left: 0%;
  }

  .expList ul {
    width: 85%;
  }
}

@media screen and (max-width: 585px) {
  .expList {
    background-position: 1000% 0%;
  }

  .experience ul {
    margin-left: 0%;
  }

  .expList ul {
    width: 85%;
  }
}

#exp {
  display: block;
  position: relative;
  visibility: hidden;
}

#moreLIn {
  color: black;
}