.footer {
    background-color: #272343;
    padding-top: 3em;
    padding-bottom: 3em;
}

.footer h2 {
    text-align: center;
    padding-top: 1.5vw;
    font-family: 'Space Mono', monospace;
    font-size: xx-large;
    color: aliceblue;
}

.footer hr { 
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.footer h3 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.footer .icon {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.footer .icons {
    margin-top: 1.5em;
}

.resumeBtn {
    align-items: center;
}

.footer p {
    padding-top: 3px;
    padding-left: 1.5em;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-style: italic;
    color: white;
    font-size: small;
}

.copyright {
    margin-top: 1.5em;
    display: block;
    text-align: center;
}