.navBar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 99;
    height: 64px;
}

.leftBtn {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2vh;
}

.homeBtn {
    font-size: large;
    transform: scale(1.8);
    padding: 0.2vw;
}

.rightBtn {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2vh;
}

.menuBtn {
    font-size: large;
    transform: scale(1.8);
    padding: 0.2vw;
}

.logoImg {
    width: 64px;
    height: auto;
} 

@media screen and (max-width: 500px) {
    .homeBtn {
        font-size: large;
        padding: 0.5vw;
    }
    
    .menuBtn {
        font-size: large;
        padding: 0.5vw;
    }
}

@media screen and (max-width: 375px) {
    .navBar {
        display: flex;
        justify-content: space-between;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .homeBtn {
        font-size: large;
        padding: 1;
    }
    
    .menuBtn {
        font-size: large;
        padding: 1vw;
    }
}