.projects {
    background-color: #272343 ;
    color: white;
    text-align: center;
    padding-bottom: 5vh;
    padding-top: 2vh;
    width: 100%;
}

.projects h2 {
    text-align: center;
    padding-top: 1.5vw;
    font-family: 'Space Mono', monospace;
    font-size: xx-large;
    color: aliceblue;
}

.projects hr { 
    border: 3px solid white;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.projectsGrid {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 3vh;
    padding-bottom: 4vh;
}

.projects p {
    color: w;
}

#projects {
    display: block;
    position: relative;
    top: -64px;
    visibility: hidden;
}

.moreGHub {
    color: white;
}

@media screen and (max-width: 800px) {
    .projectsGrid {
        margin-left: 7vw;
        margin-right: 7vw;
    }
}

@media screen and (max-width: 600px) {
    .projectsGrid {
        margin-left: 8vw;
        margin-right: 8vw;
    }
}